<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info om gurli</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<body>
<img src="../static/images/baggrund2.jpg" style="width:100%; height: 100%" >

<h1>Welkommen til Gurli gris fan side</h1>

<p>Gurli Gris er en tv-serie for børn der består af episoder af 5 minutters varighed. Den handler om Gurli, der er en antropomorf gris, og hendes familie og venner, der alle er forskellige pattedyr. Deres efternavn angiver deres dyreart og begyndelsesbogstavet i fornavnet er det samme som artsnavnet, eksempelvis Karina Kanin, Pedro Pony og Herluf Hund.</p>
</body>
</html>